@import "settings";
@import "foundation";
@include foundation-everything;
@import "overrides";

$mandy: #E44762;

.text {}
.text--mandy { color: $mandy; }

h1, h2, h3, h4, h5, h6 {
	color: $mandy;
	line-height: 1.2;
}

.header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	position: relative;
}

	.header__logo {
		position: absolute;
		bottom: -73px;
	}

.menu {
	// small screens
	@media screen and (max-width: map-get($breakpoints, large)) {
		display: none;
		padding-top: 0.5em;
		padding-bottom: 0.5em;

		li {
			display: block;
		}
	}

	// large screens
	@media screen and (min-width: map-get($breakpoints, large)) {
		display: block !important;
		float: right;

		li {
			display: inline-block;
		}
	}

	li {
		font-weight: 400;
		text-transform: lowercase;

		@media screen and (max-width: map-get($breakpoints, large)) {
			
		}
	}

	a {
		transition: 0.2s;
		&:active, &:hover {
			background: map-get($foundation-palette, primary);
			color: $white;
		}
	}

	.sub-menu {
		background: $topbar-background;
		display: none;
		width: 280px;
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;

		li {
			display: block;
		}

		a {
			display: block;
			line-height: 1.2;
			padding: $menu-item-padding;
		}

		@media screen and (max-width: map-get($breakpoints, large)) {
			background: transparent;
			display: block;
			position: relative;
			width: 100%;

			a {
				&:before {
					content: "- ";
				}
			}
		}
	}

	.menu-item {
		position: relative;

		&:hover {
			.sub-menu {
				display: block;
			}
		}
	}
}

.title-bar {
	.menu-icon::after {
		background: map-get($foundation-palette, primary);
		box-shadow: 0 7px 0 map-get($foundation-palette, primary),
			0 14px 0 map-get($foundation-palette, primary);
		// box-shadow-color: map-get($foundation-palette, primary);
	}

	.menu-hamburger {
		color: map-get($foundation-palette, primary);
		padding: 0.5rem;

		@media screen and (max-width: map-get($breakpoints, large)) {
			float: right;
		}
	}
}

#main {
	margin-top: 140px;
	margin-top: calc(70px + 7.5%);
}

.module {
	@extend .normalize;
	margin-bottom: 7.5%;
	&:last-child { margin-bottom: 0; }
}

.link--arrow {
	&:after {
		border: 0.06em solid $mandy;
		border-radius: 1em;
		content: ">";
		display: inline-block;
		height: 1.15em;
		position: relative;
		text-align: center;
		line-height: 1.05;
		font-size: 0.9em;
		width: 1.15em;
		margin-left: 0.5em;
	}
}

img.centered{display: block;margin-left: auto;margin-right: auto;}
img.alignright{padding: 4px;margin: 3px 0 2px 10px;display: inline;}
img.alignleft{padding: 4px;margin: 3px 10px 2px 0;display: inline;}
.alignleft{float: left;}
.alignright{float: right;}
.aligncenter,div.aligncenter {display: block;margin-left: auto;margin-right: auto;}
.wp-caption {border: 1px solid #ddd;text-align: center;background-color: #f3f3f3;padding-top: 4px;margin: 10px;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
.wp-caption img {margin: 0;padding: 0;border: 0 none;}
.wp-caption p.wp-caption-text {font-size: 11px;line-height: 17px;padding: 0 4px 5px;margin: 0;}
.thumbnail {width:310px;height:150px;background:#eee url('images/x.png') no-repeat center;max-width:310px;max-height:150px;overflow:hidden;}


.imgteaser {
	position: relative;
}

.imgteaser__link {
	position: relative;
	padding-bottom: 60%;
	text-decoration: none;
	display: block;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	margin-bottom: map-get($grid-column-gutter, medium);

	@media screen and (max-width: map-get($breakpoints, large)) {
		margin-bottom: 0.5 * map-get($grid-column-gutter, medium);
	}
}

.imgteaser .title {
	box-sizing: border-box;
	bottom: 0;
	font-weight: bold;
	position: absolute;
	left: 0px;
	font-size: 1.1em;
	color: #fff;
	background: #000;
	padding: 5px 10px;
	opacity: 0;
	width: 100%;

	transition: 0.15s;
	transform: translateY(100%);

	// always show on smaller screens
	@media screen and (max-width: map-get($breakpoints, large)) {
		opacity: 0.65 !important;
		transform: translateY(0) !important;
	}
}

.imgteaser a:hover .title {
	opacity: 0.65;
	transform: translateY(0);
}

.imgteaser a:hover .excerpt strong {
	display: block;
	margin-bottom: 5px;
	font-size: 1.1em;
}

.person {
	display: block;
	padding-bottom: 1em;

	.person__name {
		margin-top: 0.5em;
		margin-bottom: 0;
	}
}

#footer {
	margin-bottom: 1em;
}

.text--size20 {
	font-size: 20px;
}